:root {
  --hand-height: 35px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.center {
  display: inline-block;
  text-align: center;
}

.legend-row {
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

.legend-label {
  height: var(--hand-height);
  line-height: var(--hand-height);
  text-align: left;
  vertical-align: middle;
}

.hand {
  width: var(--hand-height);
  height: var(--hand-height);
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 5px;
  margin: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: var(--hand-height);
}
.hand:hover {
  cursor: pointer;
}
.selected {
  background-color: #5bc0de;
}

.correctlySelected {
  background-color: #5bc0de;
}

.incorrectlySelected {
  background-color: #d9534f;
}

.shouldHaveBeenSelected {
  background-color: #5cb85c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
