:root {
  --hand-height: 35px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.center {
  display: inline-block;
  text-align: center;
}

.legend-row {
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

.legend-label {
  height: var(--hand-height);
  line-height: var(--hand-height);
  text-align: left;
  vertical-align: middle;
}

.hand {
  width: var(--hand-height);
  height: var(--hand-height);
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 5px;
  margin: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: var(--hand-height);
}
.hand:hover {
  cursor: pointer;
}
.selected {
  background-color: #5bc0de;
}

.correctlySelected {
  background-color: #5bc0de;
}

.incorrectlySelected {
  background-color: #d9534f;
}

.shouldHaveBeenSelected {
  background-color: #5cb85c;
}

.btn-margin {
  margin: 7px 3px;
}

.unauthenticated-warning-container {
  margin: 10px;
}

.unauthenticated-warning-container > div {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  /* margin: 4px;
  padding-top: 10px; */
}

.selectable-selectbox {
  background-color: blue;
  border-style: dashed;
  border-color: black;
  border-width: 1px;
  opacity: 0.15;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.poker-table {
  margin: 20px;
  padding: 15px;
  height: 400px;
  width: 775px;
  background-color: darkcyan;
  /* border: 1px solid black; */
  border-radius: 150px;
}

.poker-table-row {
  /* border: 1px solid grey; */
  position: relative;
}

.poker-table-row-end {
  height: 15%;
}

.poker-table-row-middle {
  height: 40%;
}

.poker-seat {
  height: 50px;
  width: 150px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: cornflowerblue;
  display: inline-block;
}

.seat-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.dealer-button {
  height: 25px;
  width: 25px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
